body {
    margin: 0;
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: rgb(9, 58, 29);
    padding: 15px;
    display: flex;
    align-items: center;
  }
  
  .nav-left,
  .nav-center,
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-left {
    flex: 1;
  }
  
  .nav-center {
    flex: 1;
    justify-content: center;
  }
  
  .nav-right {
    flex: 1;
    justify-content: flex-end;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .nav-center img {
    height: 40px; 
  }

  /* HOME PAGE*/
  
  .center-info {
    text-align: center;
    margin-top: 40px;
  }
  
  .center-info h2 {
    color: rgb(9, 58, 29);
    margin: 10px 0;
    font-size: 50px;
  }
  
  .center-info h3{
      color: black;
      margin-top: 75px;
      margin-bottom: 0px;
      font-size: 25px;
  }
  .center-info h4 {
    color: black;
    margin-top: -20px;
    font-size: 200px;
  }

  /* SCAN PAGE */

  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  .main-header {
    font-size: 60px;
    color: rgb(9, 58, 29);
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .scan-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 40px auto;
    max-width: 800px;
  }
  
  .scan-container .image-container img {
    height: 320px;
    width: auto;
    border-radius: 5px;
    margin-right: 50px;
  }
  
  .scan-container .info {
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
  }
  
  .scan-container .info h2 {
    font-size: 50px;
    color: rgb(9, 58, 29);
    margin: 0 0 10px;
  }
  
  .scan-container .info h3 {
    font-size: 30px;
    color: #000;
    margin: 0 0 10px;
  }
  
  .scan-container .info h4 {
    font-size: 30px;
    color: #000;
    margin: 0;
  }